<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="air">
        <classes>
            <class name="com.ari.AirTest">
                <methods>
                    <include name="testCaculate_cost"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>